// Derived from element-plus/packages/theme-chalk/src/space.scss (MIT) — https://github.com/element-plus/element-plus
@import "mixins/mixins";
@import "common/var";

@include b(space) {
  display: inline-flex;
  vertical-align: top;

  @include e(item) {
    display: flex;
    flex-wrap: wrap;

    > * {
      flex: 1;
    }
  }

  @include e(spacer) {
    display: flex;
    align-items: center;
  }

  @include m(vertical) {
    flex-direction: column;
  }
}
