.demo-block.demo-dialog {
  .full-image {
    width: 100%;
  }
  .rumo-dialog__wrapper {
    margin: 0;
  }
  .rumo-select {
    width: 300px;
  }
  .rumo-input {
    width: 300px;
  }
  .rumo-button--text {
    margin-right: 15px;
  }
}
