.demo-drawer {
  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    form {
      flex: 1;
      .rumo-form-item {
        display: flex;
      }
    }
  }

  &__footer {
    display: flex;
    button {
      flex: 1;
    }
  }
}

// .rumo-drawer__body {
//   padding: 20px;
// }
